* {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
}

.isi {
    max-width: max-content;
    max-height: max-content;
}

.container {
    margin-top: 4rem;
    margin-right: 0;
    margin-left: 5rem;
    position: relative;
    bottom: 70px;
}

.Logo {
    display: block;
    position: absolute;
}

.ImageBackground {
    position: absolute;
    right: 0;
    padding-left: 0;
    padding-top: 0;
    top: 25px;
    height: 650px;
    width: 740px;
}

.Text {
    margin-left: 1rem;
}

.HrefSignIn {
    text-decoration: none;
    color: #2494A2;
}

.TextKecil, .SignIn {
    padding-left: 5px;
    opacity: 0.75;
    font-family: 'Poppins', sans-serif;
}

.TextKecil {
    display: flex;
    position: relative;
    top: 55px;
    padding-bottom: 10px;
    font-size: smaller;
    font-family: 'Poppins', sans-serif;
}

.TextBesar {
    display: flex;
    position: relative;
    font-size: xx-large;
    margin-bottom: -20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: #2494A2;
}

.SignIn {
    position: relative;
    bottom: 1rem;
}

.SignInSpan {
    color: #2494A2;
}

.InputKiri, .InputKanan {
    width: 177px;
    height: 60px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.InputKiri {
    margin-right: 15px;
}

.InputAtas, .InputBawah {
    height: 60px;
    width: 430px;
}

.InputAtas {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.InputBawah {
    margin-bottom: 20px;
    width: 187px;
    margin-right: 15px;
}

input {
    border-radius: 19px;
    background: #D3EAEC;
    border: none;
}

.InputAtas, .InputBawah, .InputKanan, .InputKiri {
    opacity: 1;
    color: #1d1d1d;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

input:focus {
    background-color: #ffffff;
    border: 2px solid #D3EAEC;
    outline: none;
}

.SubmitBTN {
    margin-top: 10px;
    margin-left: 1rem;
    border-radius: 60px;
    background: #2494A2;
    box-shadow: none;
    height: 60px;
    padding-top: 17px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    width: 210px;
    color: white;
    border: none;
    font-size: medium;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.SubmitBTN:hover {
    background-color: white;
    border: 1px solid #2494A2;
    color: #2494A2;
    cursor: pointer;
}

.SubmitBTN:active {
    background-color: white;
    border: 1px solid #2494A2;
    color: #2494A2;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(37, 148, 162, 2);
}


.Garis {
    width: 500px;
    margin: 0 auto; 
    stroke: rgba(0, 0, 0, 0.50);
}

.ConnectWith {
    text-align: center;
    margin-bottom: 1px;
    font-family: 'Poppins', sans-serif;
}

.Sosial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 300px;
    align-items: center;
    margin: 0 auto;
}

.Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #E2E2E2;
    width: 59px;
    height: 59px;
    flex-shrink: 0;
    margin-right: 9px;
    margin-left: 9px;
    margin-top: 20px;
    margin-bottom: 9px;
}

.IconLogo {
    padding-top: 3px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.Icon:hover {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(37, 148, 162, 2);
}

